{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <p class="text-center fs-2 text-white">You have encountered {{ enemy.name }}.</p>
        <div class="d-flex justify-content-center">
            <p class="text-center fs-6 text-white">Enemy health: {{ enemy.health_current }}</p>
        </div>
        <div class="row g-3 align-items-center justify-content-center">
                <div class="col-auto text-white">
                     Attack: {{ enemy.attack }}
                 </div>
                <div class="col-auto text-white">
                         Defense: {{ enemy.defense }}
                     </div>
                <div class="col-auto text-white">
                     Level: {{ enemy.level }}
                 </div>
            </div>
        <p class="text-center fs-6 text-white">{{ enemy_message }}</p>
    </div>
    <div class="container">
        <div class="d-flex justify-content-center">
            <p class="text-center fs-2 text-white">{{ player.name }}</p>
        </div>
        <p class="text-center fs-6 text-white">{{ player_message }}</p>
    </div>
    <div class="container">
        <div class="row g-5 align-items-center justify-content-center">
                 <div class="col-auto text-white">
                     Health: {{ player.health_current }}/{{ player.health_max }}.
                 </div>
                <div class="col-auto text-white">
                     Attack: {{ player.attack }}
                 </div>
                <div class="col-auto text-white">
                         Defense: {{ player.defense }}
                     </div>
                <div class="col-auto text-white">
                     Level: {{ player.level }}
                 </div>
                <div class="col-auto text-white">
                     XP: {{ player.xp_current }}/{{ player.xp_needed }}.
                 </div>
            </div>
        <div class="row g-4 align-items-center justify-content-center">
             <div class="col-auto text-white">
                 <a href="/encounter/attack">
                    <button  type="button" class="btn fs-1 btn-outline-danger">Attack</button>
                </a>
             </div>
            <div class="col-auto text-white">
                 <a href="/encounter/block">
                    <button  type="button" class="btn fs-1 btn-outline-primary">Block</button>
                </a>
             </div>
            <div class="col-auto text-white">
                 <a href="/encounter/heal">
                    <button  type="button" class="btn fs-1 btn-outline-success">Heal {{ player.heals }}/3</button>
                </a>
             </div>
            <div class="col-auto text-white">
                 <a href="/encounter/pass">
                    <button  type="button" class="btn fs-1 btn-outline-warning">Pass</button>
                </a>
             </div>
        </div>
    </div>

{% endblock content %}